@media (min-width: 768px){
  .container-fluid {
    max-width: 90%;

  }
  a.navbar-brand {
      color: #ffffff;
      font-weight: bold;
      text-align: left;
  }
  h2 {
      font-size: 1.5vw !important ;
      color: #ffffff !important;
      
  }

  label {
      color: #ffffff;
  }
  /*
  html, body { 
  background: url(../images/Background-pattern.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  }
  */  

  .flights {
    margin-right: auto;    
    float: right;
    width: 40%;
  }

  .flight-form {    
    float: left;
    width: 30%;
    position: fixed;
    top: 150px;
  }

  .footer {
    position: fixed;
    bottom: 20px;
  }

}


@media (max-width: 768px){
  .container-fluid {
    max-width: 90%;

  }
  a.navbar-brand {
      color: #ffffff;
      font-weight: bold;
      text-align: left;
  }
  h2 {
      font-size: 3.2vw !important ;
      color: #ffffff !important;
     
  } 

  label {
      color: #ffffff;
  }
  /*
  html, body { 
  background: url(../images/earth-from-space-min.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  }
  */
  .flights {    
    width: 100%;
  }

  .flight-form {    
    width: 100%;

  }
  
}


.row {  
    text-align: center; 
    margin: 40px 0px;    
    vertical-align: middle;    
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-fluid {
  text-align: center;  
}


.well {
  
  background: #5C5C5C;
}

.blank {
  padding-bottom: 10px;
}

p {
  color: #ffffff;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
  margin-left: 5px;
  margin-right: 5px;

}

.form-control {
  text-align: center;
}

.datepicker {
  border-radius: 5px;
  text-align: center;
}

#flightcode {
  margin-left: 30%;
  margin-right: 30%;
}

.navbar .active {
  font-weight: bold;
}

#calendar {
  background-color: #ADD8E6;
}


.navbar {
  background: #5C5C5C;
}

a {
  color: #ffffff !important;
}

.datepicker:hover {
            opacity:1;
        }