@media (min-width: 768px){
  .container-fluid {
    max-width: 90%;

  }
  h1 {
      color: #ffffff;
  }
  h2 {
      font-size: 1.5vw !important ;
      color: #ffffff !important;
      
  }

  label {
      color: #ffffff;
  }
  
  .well {
      width: 25%;
      margin: 0 auto;
      margin-bottom: 20px;
  }
  
}
@media (max-width: 768px){
  .container-fluid {
    max-width: 90%;

  }
  h1 {
      color: #ffffff;
  }
  h2 {
      font-size: 3.2vw !important ;
      color: #ffffff !important;
     
  } 

  label {
      color: #ffffff;
  }

  
  
}


.row {
  
    text-align: center;
    
  
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.row {
    margin: 40px 0px;    
    vertical-align: middle;    
}

.container-fluid {
  text-align: center;  
}

.main {
  
  /*background: -webkit-linear-gradient(top, #fafcfd, #C0C0C0) !important; /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(top, #fafcfd, #C0C0C0) !important; /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(top, #fafcfd, #C0C0C0) !important; /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(top, #fafcfd, #C0C0C0) !important; /* Standard syntax */
  /*background: -ms-linear-gradient(top, #fafcfd, #C0C0C0) !important; /* IE10+ */
  /*background: transparent;*/
  
  background: -webkit-linear-gradient(top, #000000, #000000) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #000000, #000000) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #000000, #000000) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #000000, #000000) !important; /* Standard syntax */
  background: -ms-linear-gradient(top, #000000, #000000) !important; /* IE10+ */
  background: transparent;
  
}

.well {
  background-color: #1a1a1a;
}

.blank {
  padding-bottom: 10px;
}

p {
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;

}

.form-control {
  text-align: center;
}

.datepicker {
  border-radius: 5px;
  text-align: center;
}

#flightcode {
  margin-left: 30%;
  margin-right: 30%;
}