{% extends 'base.html' %}

{% block content %}
<div class="well">

	<!--<div class="row add">-->
    	<form class="form-group" action="{% url 'main' %}" method="POST" style="position:relative">
        	{% csrf_token %}
        	<p>
        	Flight Code: 	
        	</p>
        	<div class="row" id="flightcode">
        	{{ form.FlightCode }}   
        	</div>        	
        	<div>
        	&nbsp
        	</div> 
        	<p>
        	Departure Date: 	
        	</p>       	
        	<div class="row">
        	{{ form.DepartureDate }}   
        	</div>         	
        	<div>
        	&nbsp
        	</div>       	
        	<button type="submit" class="btn btn-primary btn-large" name = "Add" value ="Add" style="position:relative">Add</button>
        	<!--<input type="submit" name ="Add" value ="Add"></input>-->
    	</form>
	<!-- </div> -->

</div>
	<script type="text/javascript">
    	$(function () {
        	$('.datepicker').datepicker();
        		
    	});
    	function timedRefresh(timeoutPeriod)  {
        	setTimeout("location.reload(true);",timeoutPeriod);   
        }
	</script>
{% endblock %}