{% extends 'base.html' %}

{% block content %}

<div class="flight-form">
    <div class="well">
	
    	<form id="flightform" class="form-group" action="" method="POST" style="position:relative">
        	{% csrf_token %}        	
        	<div class="row" id="flightcode">
            <div class="col-sm-4">
            <p>
            Flight Code:    
            </p>
            </div>
            <div class="col-sm-6">
        	{{ form.FlightCode }}
            </div>   
        	</div>        	
        	       	       	
        	<div class="row" id="departuredate">
            <div class="col-sm-4">
            <p>
            Departure Date:     
            </p>
            </div>
            <div class="col-sm-6">
        	{{ form.DepartureDate }}   
            </div>
        	</div>     
            <p id="pre-button-space"></p>    	
            <button type="submit" class="btn btn-primary btn-large" name = "Add" value ="Add" style="position:relative" >Add</button>       	        	
        	
    	</form>
	
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>



<div class="flights" >
    <div class="well">

        <div class="table-responsive .table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Flight Code</th>
                        <th>Departure Date</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Departure Location</th>
                        <th>Arrival Location</th>
                    </tr>
                </thead>
                
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.FlightCode }}</td>
                        <td>{{ object.DepartureDate }}</td>
                        <td>{{ object.DepartureTime }}</td>
                        <td>{{ object.ArrivalTime }}</td>
                        <td>{{ object.DepartureLocation }}</td>
                        <td>{{ object.ArrivalLocation }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>


   </div>
</div>


	<script type="text/javascript">
    	$(function () {
        	$('.datepicker').datepicker();
        		
    	});    	
	</script>
{% endblock %}