{% extends "base.html" %}
<link href= "{% static "css/flightlist.css" %}" rel="stylesheet">
{% block content %}

<div class="container-fluid">
<div class="flights" >
<ul > 
{% for object in object_list %}
<div class="well">
<p>Flight Code: {{ object.FlightCode }}</p>
<p>Departure Date: {{ object.DepartureDate }}</p>
<p>Departure Time: {{ object.DepartureTime }}</p>
<p>Arrival Time: {{ object.ArrivalTime }}</p>
<p>Departure Location: {{ object.DepartureLocation }}</p>
<p>Arrival Location: {{ object.ArrivalLocation }}</p>
</div>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}